# Dependencies
node_modules/
/dist/
/.angular/
backend/dist/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System
Thumbs.db
.DS_Store

# Logs & Runtime
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env